atts.me

root /home/andy/CSE4345/frontend

tls rrash@smu.edu
gzip
log /var/log/caddy/access.log {
    rotate_keep 10
}
errors /var/log/caddy/error.log {
    rotate_keep 10
}

header / Strict-Transport-Security 'max-age=31536000;'

proxy /api 127.0.0.1:8000 {
    fail_timeout 300s
    without /api
    transparent
    header_upstream X-Forwarded-Ssl on
}
